@model MvcApplication4.Models.mama

@{
    ViewBag.Title = "news";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<script>
    var _validFileExtensions = [".jpg", ".jpeg", ".bmp", ".gif", ".png"];
    function ValidateSingleInput(oInput) {
        var FileSize = oInput.files[0].size;
        var FileSizeMB = (FileSize / 1048576).toFixed(2);
        if (oInput.type == "file") {
            var sFileName = oInput.value;
            if (sFileName.length > 0) {
                var blnValid = false;
                for (var j = 0; j < _validFileExtensions.length; j++) {
                    var sCurExtension = _validFileExtensions[j];
                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                        blnValid = true;
                        break;
                    }
                }

                if (!blnValid ||(FileSizeMB > 3)) {
                    alert("Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", ") + "Your image size is " + FileSizeMB +" Mb and limit is 3 Mb..");
                    oInput.value = "";
                    return false;
                }
            }
        }
        return true;
    }

</script>


<div class="row">
    <div class="span1">
        
        <br />
    </div>
    <div class="span11">
<h1>&nbsp &nbsp &nbsp Enter New News</h1>

<h3>&nbsp &nbsp &nbsp Enter Main News</h3>
        <br /> <br /> <br />
        @*<form method="post" action="/AdminPanel/MnewNews">*@
        @using (Html.BeginForm("../AdminPanel/MnewNews", "", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        <table>
            <tr>
                <td>
                    <label style="font-size:medium">&nbsp &nbsp &nbsp Enter ticker no:</label>
                </td>
                <td>
                    @*<input type="number" name="tickerNo"/><br />*@
                    @Html.TextBoxFor(m=> m.Mnew.tickerNo,  new {   type = "number" }) @Html.ValidationMessageFor(model => model.Mnew.tickerNo)
                    
                </td>
            </tr>
            
            <tr>
                <td><label style="font-size:medium">&nbsp &nbsp &nbsp Heading(Max 4-5 words):<br /></label></td>
                <td>@*<input type="text"  name="heading"/><br />*@ @Html.TextBoxFor(m=> m.Mnew.heading,  new {   type = "text", placeholder="Heading" }) @Html.ValidationMessageFor(model => model.Mnew.heading)</td>
            </tr>

            <tr>

                <td><label style="font-size:medium">&nbsp &nbsp &nbsp Enter Description(Max 2-3 lines):<br /></label></td>
                <td>@*<input type="text" name="description" />*@ @Html.TextBoxFor(m=> m.Mnew.Description,  new {   type = "text", placeholder= "Description" }) @Html.ValidationMessageFor(model => model.Mnew.Description)<br /></td>
            </tr>

            <tr>

                <td><label style="font-size:medium">&nbsp &nbsp &nbsp Enter Detail:<br /></label></td>
                <td>@*<input type="text" name="detail" />*@ @Html.TextBoxFor(m=> m.Mnew.detail,  new {   type = "text", placeholder="Detail" }) @Html.ValidationMessageFor(model => model.Mnew.detail)<br /></td>
            </tr>
            
            <tr>

                <td><label style="font-size:medium">&nbsp &nbsp &nbsp Select Image:&nbsp @Html.TextBoxFor(m=> m.Mnew.imgPath,  new {   type = "file", onchange="ValidateSingleInput(this);" }) @Html.ValidationMessageFor(model => model.Mnew.imgPath)</label></td>
                
            </tr>

        </table>
        
       <br /> <br />
        <span> &nbsp &nbsp <input type="submit" value="Save" /></span>
            @*</form>*@
        }    
        <br /> <br /><br /> <br /> <br /> <br />
<h2>&nbsp &nbsp &nbsp Enter New Transfer News</h2>

        @*<form method="post" action="/AdminPanel/TnewNews">*@
        @using (Html.BeginForm("../AdminPanel/TnewNews", "", FormMethod.Post))
        {
        <table>
            <tr>
                <td><label style="font-size:medium">&nbsp &nbsp &nbsp News Id:<br /></label></td>
                <td>@*<input type="number" name="Id" />*@ @Html.TextBoxFor(m=> m.Tnew.Id,  new {   type = "number" }) @Html.ValidationMessageFor(model => model.Tnew.Id)<br /></td>
            </tr>

            <tr>
                <td><label style="font-size:medium">&nbsp &nbsp &nbsp Date:<br /></label></td>
                <td>@*<input type="date" name="date" />*@ @Html.TextBoxFor(m=> m.Tnew.date,  new {   type = "date"}) @Html.ValidationMessageFor(model => model.Tnew.date)<br /></td>
            </tr>
            <tr>
                <td><label style="font-size:medium">&nbsp &nbsp &nbsp Enter News(Max 6-7 lines):<br /></label></td>
                <td>@*<input type="text" name="news" />*@ @Html.TextBoxFor(m=> m.Tnew.news ,  new {   type = "text", placeholder="News" }) @Html.ValidationMessageFor(model => model.Tnew.news)<br /></td>
            </tr>

            <tr>
                <td><label style="font-size:medium">&nbsp &nbsp &nbsp Enter Detail:<br /></label></td>
                <td>@*<input type="text" name="detail" />*@ @Html.TextBoxFor(m=> m.Tnew.detail,  new {   type = "text", placeholder="Detail" }) @Html.ValidationMessageFor(model => model.Tnew.detail)<br /></td>
            </tr>
            
        </table>
            <br /> <br />
        <span> &nbsp &nbsp <input type="submit" value="Save" />
        <br /> <br /></span>
        
            @*</form>*@
        }
        </div>

    </div>